* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: black;
}

#menu {
  background-color: black;
  display: inline-block;
}

header col:first-of-type {
  float: left;
}

header li:hover .submenu{

}

li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
}

#span {
  color: green;
}


.container {
  width: 100%;
  height: auto;
  background-color: black;
  border: 1px solid black;
}

.container:first-of-type {
    position: relative;
}

.container:first-of-type h3 {
  position: absolute;
  float: right;
}

.container:first-of-type h3 {
  position: absolute;
  float: left;
}



header ul:nth-of-type(2) li: hover {

}
